@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
  --intp-jollibee-red: rgb(227,24,55);
  --intp-jollibee-base: rgb(242,249,253);

  --intp-gray-1: rgb(255,255,255);
  --intp-gray-2: rgb(200,200,200);
  --intp-gray-3: rgb(100,100,100);

  --intp-gold-1: rgb(228,181,70);
  --intp-gold-2: rgb(218,171,60);
  --intp-gold-3: rgb(200,160,60);
  --intp-white-1: rgb(255,255,255);
  --intp-fstyle-roboto: 'Roboto', sans-serif;
}

.jollibee{
  color: var(--intp-jollibee-red);
}

body{
  background-color: var(--intp-white-1);
  font-family: var(--intp-fstyle-roboto);
}

.d-flex{
  display: flex;
}

.justify-content-center{
  justify-content: center;
}

.fs-1{
  font-size: 3rem;
}

.mt-4{
  margin-top: 4rem;
}

.mt-3{
  margin-top: 3rem;
}

.mx-3{
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.shadow{
  box-shadow: 1px 3px 5px var(--intp-gray-3);
}

.rounded{
  border-radius: 15px;
}

.menu-btn{
  font-size: 1rem;
  border-radius: 10px;
  padding: .5rem .25rem .5rem .25rem;
  background-color: var(--intp-white-1);
  border: transparent;
  cursor: pointer;
  transition: all ease 0.4s;
}

.menu-btn:hover{
  background-color: var(--intp-jollibee-red);
}

.px-2{
  padding-left: 1rem;
  padding-right: 1rem;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

section:nth-child(odd) {
  animation: .7s ease-in 0s 1 slideInFromLeft;
}

section:nth-child(even) {
  animation: .7s ease-in 0s 1 slideInFromRight;
}

.ruler {
  width: 5rem;
  height: 0.25rem;
  background: var(--intp-gray-3);
  margin-left: auto;
  margin-right: auto;
}

.align-items-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;
}

.menu-item {
  display: grid;
  gap: 1rem 2rem;
  max-width: 25rem;
  background-color: var(--intp-gold-1);
  padding: .5rem;
}

img {
  object-fit: cover;
  width: 225px;
  height: 175px;
  border-radius: 10px;
}

.item-description header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px dotted var(--intp-white-1);
  font-weight: bold;
  letter-spacing: 0.3rem;
}

.item-text {
  margin-bottom: 0;
  text-align: justify;
  line-height: 1.5rem;
}

@media screen and (min-width: 768px) {
  .menu-item {
    grid-template-columns: 225px 1fr;
    gap: 0 1.25rem;
    max-width: 40rem;
  }
}

@media screen and (max-width: 767px) {
  .menu-item{
    grid-template-columns: 330px;
    gap: 1rem;
    max-width: 40rem;
  }
  img{
    width: 330px;
    height: 175px;
  }
  .menu-btn{
    font-size: .9rem;
    border-radius: 10px;
    padding: .5rem .25rem .5rem .25rem;
    background-color: var(--intp-gray-1);
    border-color: var(--intp-gray-2);
    cursor: pointer;
    transition: all ease 0.4s;
  }
  
  .menu-btn:hover{
    background-color: var(--intp-gray-3);
    color: var(--intp-white-1);
  }
  .mx-3{
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .px-2{
    padding-left: .5rem;
    padding-right: .5rem;
  }
}

@media screen and (min-width: 1200px) {
  .align-items-center {
    width: 95vw;
    grid-template-columns: 1fr 1fr;
  }
}