body::before {
    display: block;
    content: '';
    height: 60px;
}
.navbar-bg-custom { background-color: white; }
.text-custom { color: #1e1e1e; }
.text-custom:hover { color: #7a7a7a; }
.section-bg-custom { background-color: #eff0f1; }
.rounded-custom { border-radius: 30px; }
.card-bg-custom { background-color: #ffd31d; }
.footer-bg-custom { background-color: #eff0f1; }
.footer-color-custom { color: #989ca0; }
.container-fluid > .row > div:nth-child(3) { color: red; }
