body::before {
    display: block;
    content: '';
    height: 35px;
}
.navbar-bg-custom { background-color: white; }
.showcase-bg-custom { background-color: #eff0f1; }
.bootstrap-color { color: #7f11f2; }
.text-custom { color: #1e1e1e; }
.text-custom:hover { color: #7a7a7a; cursor: pointer; }
.section-bg-custom { background-color: #eff0f1; }
.rounded-custom { border-radius: 20px; }
.card-bg-custom { background-color: #ffd31d; }
.footer-bg-custom { background-color: #eff0f1; }
.footer-color-custom { color: #989ca0; }
.rounded-top-custom { border-radius: 20px 20px 0 0; }
.rounded-bottom-custom { border-radius: 0 0 20px 20px; }
.fs-small { font-size: small; }
.hide-scrollbars::-webkit-scrollbar { display: none; }
.hide-scrollbars { -ms-overflow-style: none; scrollbar-width: none;}

/* Dark mode toggle */
.dark-mode-bg-1 { background-color: #191919; }
.dark-mode-bg-2 { background-color: #111111; }
.dark-mode-color-1 { color: #dcdcdc; }
.dark-mode-color-2 { color: #dcdcdc; }
