@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root{
  --intp-jollibee-red: rgb(227,24,55);
  --intp-jollibee-base: rgb(242,249,253);

  --intp-gray-1: rgb(255,255,255);
  --intp-gray-2: rgb(200,200,200);
  --intp-gray-3: rgb(100,100,100);

  --intp-gold-1: rgb(228,181,70);
  --intp-gold-2: rgb(218,171,60);
  --intp-gold-3: rgb(200,160,60);
  --intp-white-1: rgb(255,255,255);
  --intp-fstyle-roboto: 'Roboto', sans-serif;
  --intp-fstyle-nunito: 'Nunito', sans-serif;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  margin: autos;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
}

.modal-content {
  margin: auto;
  padding: 20px;
}

.jollibee{
  color: var(--intp-jollibee-red);
  font-weight: bold;
  font-size: 3rem;
}

body{
  background-color: var(--intp-white-1);
  font-family: var(--intp-fstyle-nunito);
}

.d-flex{
  display: flex;
}

.justify-content-center{
  justify-content: center;
}

.fs-1{
  font-size: 3rem;
}

.mt-4{
  margin-top: 4rem;
}

.mt-3{
  margin-top: 3rem;
}

.mx-3{
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.shadow{
  box-shadow: 1px 3px 5px var(--intp-gray-3);
}

.rounded{
  border-radius: 15px;
}

.menu-btn{
  font-size: 1rem;
  border-radius: 10px;
  padding: .5rem .25rem .5rem .25rem;
  background-color: var(--intp-white-1);
  color: black;
  border: transparent;
  cursor: pointer;
  transition: all ease 0.4s;
}

.menu-btn:hover, .menu-btn:focus{
  background-color: var(--intp-jollibee-red);
  outline: none;
}

.px-2{
  padding-left: 1rem;
  padding-right: 1rem;
}

section {
  animation: fade-in 2s ease;
}

.item-enter{
  animation: zoom-in 1s ease;
  transform: scale(1);
}

.ruler {
  width: 5rem;
  height: 0.25rem;
  background: var(--intp-gray-3);
  margin-left: auto;
  margin-right: auto;
}

.align-items-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;
}

.menu-item {
  display: grid;
  max-width: 25rem;
  background-color: var(--intp-gold-1);
  padding: .5rem;
  border: 2px solid var(--intp-gold-3);
}

.menu-item:hover {
  cursor: pointer;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

img {
  object-fit: fill;
  width: 225px;
  height: 175px;
  border-radius: 10px;
  pointer-events: none;
}

.item-description header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px dotted var(--intp-white-1);
  font-weight: bold;
  letter-spacing: 0.3rem;
}

.item-text {
  margin-bottom: 0;
  text-align: justify;
  line-height: 1.5rem;
}

/* All key frames visible here */

@keyframes fade-in {
  0% { opacity: 0%; }
  100% { opacity: 100%; }
}
@keyframes zoom-in {
  0%{ transform: scale(0.5,0.5); }
  100%{ transform: scale(1,1); }  
}
@keyframes slideInFromLeft {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}
@keyframes slideInFromRight {
  0% { transform: translateX(100%); }
  100% { transform: translateX(0); }
}

/* All media screen visible here */

@media screen and (min-width: 320px) {
  .menu-item{
    grid-template-columns: 1fr;
  }
  img{
    margin: auto;
    width: 225px;
    height: 150px;
    object-fit: fill;
  }
  .menu-btn{
    font-size: .6rem;
    border-radius: 10px;
    padding: .3rem .20rem .3rem .20rem;
    background-color: var(--intp-white-1);
    border-color: transparent;
    cursor: pointer;
    transition: all ease 0.4s;
  }
  .mx-3{
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .px-2{
    padding-left: .5rem;
    padding-right: .5rem;
  }
  .jollibee{
    color: var(--intp-jollibee-red);
    font-weight: bold;
    font-size: 1.5rem;
  }
  .menu{
    font-size: 1.5rem;
  }
  .item-description header {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px dotted var(--intp-white-1);
    font-weight: bold;
    letter-spacing: 0.3rem;
    font-size: .8rem;
  }
  .item-text {
    margin-bottom: 0;
    text-align: justify;
    line-height: 1.5rem;
    font-size: .8rem;
  }
  .displayMenu{
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 480px) {
  .menu-item{
    grid-template-columns: 1fr;
  }
  img{
    margin: auto;
    width: auto;
    height: auto;
    object-fit: fill;
  }
  .menu-btn{
    font-size: .7rem;
    border-radius: 10px;
    padding: .4rem .21rem .4rem .21rem;
    background-color: var(--intp-white-1);
    border-color: transparent;
    cursor: pointer;
    transition: all ease 0.4s;
  }
  .menu-btn:hover{
    background-color: var(--intp-jollibee-red);
    color: black;
  }
  .mx-3{
    margin-left: .7rem;
    margin-right: .7rem;
  }
  .px-2{
    padding-left: .6rem;
    padding-right: .6rem;
  }
  .jollibee{
    color: var(--intp-jollibee-red);
    font-weight: bold;
    font-size: 2rem;
  }
  .menu{
    font-size: 2rem;
  }
  .item-description header {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px dotted var(--intp-white-1);
    font-weight: bold;
    letter-spacing: 0.3rem;
    font-size: 1rem;
  }
  .item-text {
    margin-bottom: 0;
    text-align: justify;
    line-height: 1rem;
    font-size: 1rem;
  }
  .displayMenu{
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 600px) {
  .menu-item {
    grid-template-columns: 1fr 1fr;
    max-width: 520px;
  }
  img{
    margin: auto;
    width: auto;
    height: auto;
    object-fit: fill;
  }
  .menu-btn{
    font-size: .8rem;
    border-radius: 10px;
    padding: .4rem .23rem .4rem .23rem;
    background-color: var(--intp-white-1);
    border-color: transparent;
    cursor: pointer;
    transition: all ease 0.4s;
  }
  .menu-btn:hover{
    background-color: var(--intp-jollibee-red);
    color: black;
  }
  .mx-3{
    margin-left: .9rem;
    margin-right: .9rem;
  }
  .px-2{
    padding-left: .7rem;
    padding-right: .7rem;
  }
  .jollibee{
    color: var(--intp-jollibee-red);
    font-weight: bold;
    font-size: 2.5rem;
  }
  .menu{
    font-size: 2.5rem;
  }
  .item-description header {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px dotted var(--intp-white-1);
    font-weight: bold;
    letter-spacing: 0.3rem;
    font-size: 1rem;
  }
  .item-text {
    margin-bottom: 0;
    text-align: justify;
    line-height: 1.5rem;
    font-size: 1rem;
  }
  .displayMenu{
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 768px) {
  .menu-item {
    grid-template-columns: 1fr 1fr;
    max-width: 650px;
  }
  img{
    margin: auto;
    width: auto;
    height: auto;
    object-fit: fill;
  }
  .menu-btn{
    font-size: .8rem;
    border-radius: 10px;
    padding: .5rem .25rem .5rem .25rem;
    background-color: var(--intp-white-1);
    border-color: transparent;
    cursor: pointer;
    transition: all ease 0.4s;
  }
  .menu-btn:hover{
    background-color: var(--intp-jollibee-red);
    color: black;
  }
  .mx-3{
    margin-left: 1.1rem;
    margin-right: 1.1rem;
  }
  .px-2{
    padding-left: .9rem;
    padding-right: .9rem;
  }
  .jollibee{
    color: var(--intp-jollibee-red);
    font-weight: bold;
    font-size: 3rem;
  }
  .menu{
    font-size: 3rem;
  }
  .item-description header {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px dotted var(--intp-white-1);
    font-weight: bold;
    letter-spacing: 0.3rem;
    font-size: 1rem;
  }
  .item-text {
    margin-bottom: 0;
    text-align: justify;
    line-height: 1.5rem;
    font-size: 1rem;
  }
  .displayMenu{
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .menu-item {
    grid-template-columns: 1fr 1fr;
  }
  img{
    margin: auto;
    width: 225px;
    height: 175px;
    object-fit: fill;
  }
  .menu-btn{
    font-size: 1rem;
    border-radius: 10px;
    padding: .5rem .25rem .5rem .25rem;
    background-color: var(--intp-white-1);
    border-color: transparent;
    cursor: pointer;
    transition: all ease 0.4s;
  }
  .menu-btn:hover{
    background-color: var(--intp-jollibee-red);
    color: black;
  }
  .mx-3{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .px-2{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .jollibee{
    color: var(--intp-jollibee-red);
    font-weight: bold;
    font-size: 3rem;
  }
  .menu{
    font-size: 3rem;
  }
  .item-description header {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px dotted var(--intp-white-1);
    font-weight: bold;
    letter-spacing: 0.3rem;
    font-size: 1rem;
  }
  .item-text {
    margin-bottom: 0;
    text-align: justify;
    line-height: 1.5rem;
    font-size: 1rem;
  }
  .displayMenu{
    grid-template-columns: 1fr 1fr;
  }
}